body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: grey;
  background-image: url("https://source.unsplash.com/random/1920x1080/?wallpaper,landscape'");
}

.card {
  background-color: white;
  padding: 2em;
  border-radius: 10px;
  width: 100%;
  max-width: 420px;
}

.search {
  display: flex;
  height: 35px;
  padding: 1px;
  justify-content: center;
}

button {
  padding: 5px;
  /* border: 2px; */
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin: 0px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: yellowgreen;
  background-color: white;
  transition: 0.2s ease-in-out;
  /* opacity: 0.6; */
}

button:hover {
  background-color: aquamarine;
}

input.cityinput {
  border-radius: 17.5px;
  /* border: 0px; */
  padding: 0px 15px;
  height: 40px;
  border-color: black;
}
